@media (max-width: 570px) {
  header {
    justify-content: center;
    padding: 0;
    gap: 10px;
  }

  h1 {
    font-size: 50px;
  }

  .trash_icon {
    height: 40px;
    width: 40px;
  }

  .overlay {
    top: 57px;
    left: 0;
    width: 98%;
  }

  .max_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 0 20px;
  }

  .note_maincontainer {
    display: flex;
    justify-content: center;
  }

  .item_count {
    top: 30px;
    right: 2px;
    font-size: 11px;
    padding: 0 3px;
  }
}
